.monthview-datetable{
    td{
        height: 80px;
        width: 30px !important;
    }

    th{
        height: 20px !important;
        width: 30px !important;
    }
}

.weekview-container{
    .weekview-allday-table{
        display: none;
    }
    .weekview-normal-event-container{
        margin-top: 37px !important;
        margin-bottom: 30px !important;
    }
}

.content-title{
    padding: 12px !important;
    text-align: center !important;
    border-bottom: 2px solid #ddd;
    color:  #32db64 !important;
}

.event-detail-container{
    display: none;
}
.weekview-header, small, .toolbar-title{
    text-transform: capitalize;    
}