.week-header{
    background: #E4E4E4;     
}
.days{
    background: #F0F0F0;
    min-height: 75px;
    border: thin solid #999999         
}

.border{
    border-radius: 3px;       
    border: thin solid #999999;    
}