<ion-grid>
    <div>
        <ion-slides loop="true" (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let month of months">
                <h1>{{month.Name}}</h1>
            </ion-slide>
        </ion-slides>
        
        <div class="border">
            <ion-row class="week-header" responsive-sm>
                <ion-col col-sm text-center *ngFor="let day of weeks">{{day.Part}}</ion-col>
            </ion-row>
            <ion-row class="days" responsive-sm *ngFor="let j of daysGridRow">
                <ion-col class="days" col-sm text-center *ngFor="let k of weeks"></ion-col>
            </ion-row>
        </div>
    </div>
</ion-grid>