<div>
  <ion-slides (ionSlideNextStart)="forwardStart()"
              (ionSlideNextEnd)="forwardEnd()"
              (ionSlidePrevStart)="backwardStart()"
              (ionSlidePrevEnd)="backwardEnd()"
              [loop]="true">
    <ion-slide *ngFor="let week of calendarService.weekVector">
      <ion-card *ngFor="let day of week" (click)="selectDay(day)">
        <ion-card-header>
          {{day.Week}}, {{day.Day}}/{{day.Month + 1}}
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>